In [1]:
import pandas as pd
import numpy as np

In [2]:
#check=pd.read_excel('recheck.xlsx')
data=pd.read_csv('Tag_divide_mergy.csv')

In [4]:
check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AppID   392 non-null    int64
dtypes: int64(1)
memory usage: 3.2 KB

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68899 entries, 0 to 68898
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         68899 non-null  int64
 1   AppID              68899 non-null  int64
 2   AppType            68899 non-null  object
 3   Followers          68899 non-null  int64
 4   Positive_rev       68899 non-null  int64
 5   Negative_rev       68899 non-null  int64
 6   Positive_rev_per   68899 non-null  float64
 7   Steam reviews      68899 non-null  float64
 8   PlayTracker        68899 non-null  float64
 9   VG Insights        68899 non-null  float64
 10  SteamSpy           68899 non-null  float64
 11  Tags               56861 non-null  object
 12  Top-Level Genres   55992 non-null  object
 13  Genres             40405 non-null  object
 14  Sub-Genres         34445 non-null  object
 15  Visuals&Viewpoint  40497 non-null  object
 16  Themes&Moods       38336 non-null  object
 17  Features           34128 non-null  object
 18  Players            33410 non-null  object
 19  Other Tags         39756 non-null  object
 20  Software           3046 non-null   object
 21  Assessments        20914 non-null  object
 22  Ratings etc        7381 non-null   object
 23  Hardware/Input     5269 non-null   object
 24  Funding etc        11400 non-null  object
dtypes: float64(5), int64(5), object(15)
memory usage: 13.1+ MB

In [4]:
import os

In [5]:
success=[]
fail=[]

In [6]:
for i in data['AppID']:
    if os.path.exists('D:\paper\game\data\pictures/'+str(i)+'.jpg'):
        success.extend([i])
    else:
        fail.extend([i])

In [7]:
len(success)

68897

In [8]:
len(fail)

2

In [9]:
fail

[312860, 382940]

In [24]:
fail_id = pd.DataFrame(data=fail)
fail_id.to_csv('fail_id.csv')

In [30]:
fail_id[0]

0         22362
1       1366270
2        638500
3        920720
4        312860
         ...
1551    2388020
1552    2386460
1553    1701130
1554    2164690
1555    2309280
Name: 0, Length: 1556, dtype: int64

In [32]:
check.head(10)

     AppID
0  1023420
1   717980
2  1549420
3   570770
4   553260
5  1277340
6  1099400
7   239430
8   694070
9  1921760

In [33]:
check_success=[]
check_fail=[]

In [34]:
for i in check['AppID']:
    if os.path.exists('D:\paper\game\data\pictures/'+str(i)+'.jpg'):
        check_success.extend([i])
    else:
        check_fail.extend([i])

In [35]:
check_fail

[22362]

In [36]:
success2=[]
fail2=[]

In [37]:
for i in data['AppID']:
    if os.path.exists('D:\paper\game\data\pictures/'+str(i)+'.jpg'):
        success2.extend([i])
    else:
        fail2.extend([i])

In [39]:
len(fail2)

449

In [42]:
fail2_id = pd.DataFrame(data=fail2)
fail2_id.columns=['Appid']
fail2_id.to_csv('fail2_id.csv')

In [44]:
success3=[]
fail3=[]

In [45]:
for i in data['AppID']:
    if os.path.exists('D:\paper\game\data\pictures/'+str(i)+'.jpg'):
        success3.extend([i])
    else:
        fail3.extend([i])

In [46]:
len(fail3)

48

In [47]:
fail3_id = pd.DataFrame(data=fail3)
fail3_id.columns=['Appid']
fail3_id.to_csv('fail3_id.csv')

In [52]:
fail3_id[fail3_id['Appid']==2380190]

      Appid
38  2380190

In [53]:
success4=[]
fail4=[]

In [54]:
for i in data['AppID']:
    if os.path.exists('D:\paper\game\data\pictures/'+str(i)+'.jpg'):
        success4.extend([i])
    else:
        fail4.extend([i])

In [55]:
fail4

[22362,
 1366270,
 638500,
 920720,
 312860,
 983360,
 298860,
 382940,
 451330,
 22360,
 1688010,
 366842,
 652930,
 950900]

In [59]:
for i in fail4:
    print(data[data['AppID']==i]['Header image'])

3290    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
26712    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
27211    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
27539    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
37598    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
38355    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
50941    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
51784    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
52723    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
54598    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
54748    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
60571    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
60598    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object
69648    https://cdn.akamai.steamstatic.com/steam/apps/...
Name: Header image, dtype: object